matplotlib     # visualizações
plotly         # visualizações
dash           # trás as visualizações para a web
pandas         # dados estruturados
black          # formatador de código
openpyxl       # leitura de arquivos .xlsx
lxml           # usado pelo pandas para gerar dataframes a partir de html
beautifulsoup4 # web scraping
gunicorn       # para servir o app no Heroku
requests       # requisições HTTP

